<% include ./partials/header %>

<h1>Login, ya jabroni! </h1>

<form action="/login" method = "POST">
    <input type = "text" name = "username" placeholder = "username">
    <input type = "password" name = "password" placeholder = "password">
    <button class = "button primary large">Login</button>
</form>

<% include ./partials/footer %>